<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	
    <!-- Define your beans here -->
    
    <!-- define the dependency -->
	<bean  id="myFortune" class= "com.bhavesh.spring.HappyFortuneService">
    </bean>
	<bean id="myCoach"
		class = "com.bhavesh.spring.TrackCoach">
		<constructor-arg ref="myFortune" />
		</bean>
		 <bean id="myLoggerConfig" class="com.bhavesh.spring.MyLoggerConfig" init-method="initLogger">
    	<property name="rootLoggerLevel" value="FINE" />
    	<property name="printedLoggerLevel" value="FINE"/>
    </bean>
     <bean id ="myCricketCoach" 
     	class = "com.bhavesh.spring.CricketCoach">
     	<property name = "fortuneService" ref="myFortune" />
     	<property name="emailAddress" value="bhavesh@gmail.com"/>
     	<property name="team" value="SRH" />
     	<property name = "batsman" value = "kohli" />
     	</bean>
     
</beans>





